#plateau {
    border: 3px blue;
    background-color: blue;
}
#plateau td {
    width: 2cm;
    height: 2cm;
    padding: 0px;
    border: 3px;
    border-radius: 1cm;
    border: 3px blue;
    background-color: white;
    cursor: pointer;
}
#plateau td.joueur1 {
    background-color: red;
}
#plateau td.joueur2 {
    background-color: yellow;
}